@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lora', serif;
}

.italic-text {
    font-style: italic;
}

::-webkit-scrollbar {
    display: none;
}

/* Ensure scrolling still works */
html, body {
    overflow: auto;
}